@import url(https://fonts.googleapis.com/css?family=VT323);
body{
  margin:0;
}

html { overflow-y: scroll; overflow-x:hidden; }



*
{
  font-family: 'VT323';
}
button{
  font-size:40px; 
  font-weight:700;
 background-color: transparent;
  border:none;
}

button:hover{
  color:beige;
  cursor:pointer;
}
/*Big screen sizing*/
@media screen and (min-width: 670px), 
  screen and (min-height: 600px){
      #navigation-big {
     height:80px;
     background-color:  #d90000;
     width:100%;
      margin:0;
      display:flex;
      z-index:999;
      justify-content: space-between;
      align-items:center;
    }
#container{
  top:80px;
  height:calc(100vh - 120px);
}
    
    #navigation-small {
      display:none;
    }
    #logo{
  height:70px;
  display:flex;
  align-items:center;
  margin-left:10px;
}
#pokeball{
  height:60px;
  opacity: 1;
}
 

#playground{
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 22;
  height:calc(100vh - 300px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
    /*Chat stylization*/
#chat{
  box-sizing: border-box;
  position:fixed;
  z-index: 2;
  bottom:40px;
  height:180px;
 background-color:white;
  font-size: 22px;
 width:100%;
 border: 10px black solid;
 border-radius: 10px;
  margin:0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 
}
#cards{
  display: flex;
  
  width: 100%;
  justify-content: center;
  gap:10%;
  align-items: center;
}    
    
    .card{
  height:220px;
  width: 130px;
  border: solid 4px gray;
  border-radius: 15px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#player-cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
#scoreline{
  margin:0;
  font-size:32px;
  text-align:center;
}
}


/*End of big screen sizing*/
/*small screen sizing*/
@media screen and (max-width: 669px), 
  screen and (max-height: 599px){
      #navigation-big {
         display:none;
    }
    #navigation-small {
      height:60px;
     background-color:  #d90000;
     width:100%;
      margin:0;
      display:flex;
      z-index:999;
      justify-content: space-between;
      align-items:center;
    }
          #logo{
    height:60px;
    display:flex;
    align-items:center;
    margin-left:10px;
    }
    #pokeball{
      height:50px;
      opacity: 1;
    }
    
    /*Chat stylization*/
  #chat{
    box-sizing: border-box;
    position:fixed;
    z-index: 2;
    bottom:40px;
    height:100px;
   background-color:white;
    font-size: 20px;
   width:100%;
   border: 10px black solid;
   border-radius: 10px;
    margin:0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

  }
  #container{
    position:fixed;
    top:60px;
    height:calc(100vh - 100px);
  }
 #playground{
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 22;
  height:calc(100vh - 200px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
    #cards{
  display: flex;
  flex-direction:column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;

  align-items: center;
}    
    
    .card{
  
  width: 25vw;
  max-width: 110px;
  height: 25vw;
  max-height: 110px;
  border: solid 4px gray;
  border-radius: 50%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#player-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}
#scoreline{
  margin:0;
  font-size:22px;
  text-align:center;
}
    
}
/*End of small screen sizing*/
/*landscape orientation styling*/
@media (orientation: landscape) {
  #cards {
    flex-direction: row;
  }
  #container{
    position:fixed;
    top:60px;
    height:calc(100vh - 100px);
  }
}

/*End of styling landscape orientation*/

#right-side:last-child{
  margin-right:10px;
}

#logo:hover{
   animation: shake 0.7s;
  cursor:pointer;
}


#background{
  z-index:-1;
  position:fixed;
  top:0;
  width:100vw;
}

#background-img{
  width:100vw;
  height: 100vh;

  
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#footer{
  height:40px;
 background-color:  #d90000;
  font-size: 22px;
 width:100%;
  margin:0;
  position:fixed;
  z-index: 2;
  bottom:0; 
  display:flex;
  justify-content:center;
  align-items:center;
}

/*Typewriter effect*/
.conv{ 
  margin: 0 0 0px 10px;
  display: inline-block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin-left: 10px ; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(30, end),
    blink-caret .5s;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 30% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  60% { border-color: orange }
}
/*End of typewrite effect*/
.conv2{ 
  margin: 0 0 0px 10px;
  display: inline-block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin-left: 10px ; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation-delay: 4.5s;
  animation: 
    typing2 3.5s steps(30, end),
    blink-caret .5s;
}
@keyframes typing2 {
  from { width: 0 }
  to { width: 25% }
}


#github{
  height:20px;
  margin-left:10px;

}
#github:hover{
   opacity: 0.40;
 }

 /* Gameplay styling*/
 #game{
    position: fixed;
    top: 100px;
    width: 100%;
    height: 20px;
    
 }




 

#newGame {
   box-sizing:border-box;
  position: fixed;
  text-align:center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  background-color:orange;
  z-index: +99;
  width: 300px;
  height:200px; 
  border-radius: 15px;
   
  }

/* The Modal (background) */
.modal {
  box-sizing:border-box;
  display: none; /*hidden by default*/
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border:4px black solid;
}

/* Modal Content */
.modal-content {
  display:flex;
  box-sizing:border-box;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  margin: auto;
  width: 100%;
  height:100%;
}

/* The Close Button */
.close {
   box-sizing:border-box;
      color: black;
    font-size: 36px;
    font-weight: bold;
    align-self: flex-end;
  margin-right:15px;
  
}

a:hover,
.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
  
}

#startAgain:hover{
   border:4px solid white;
  background-color:black;
}
#startAgain{
   box-sizing:border-box;
  font-size:26px;
  border:4px solid black;
  border-radius:5px;
  width:50%; 
  padding:10px;
  margin-bottom:10px;
}

#end-text{
  font-size:32px
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 98;
  cursor: pointer;
}

/*Styling for pages Rules and Sources*/ 
#container{
  position:fixed;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#main-content{
  
  background-color:#d90000;
  top: 80px;
  left:15vw;
  height:60vh;
  
  width: 70vw;
  z-index:1;
  border-radius: 5%;

}
a{
  text-decoration: none;
  color: initial;
}
h1{
  text-align: center;
  font-size:calc(2vw + 2vh + 2vmin);
  padding-bottom: 3vh;
}
ol > li{
  text-align: left;
  margin-left: 2vw;
  margin-right: auto;
  padding-bottom: 1vh;
  font-size:calc(1vw + 1.5vh + 2vmin);
}
.sources > li{
 
  font-size:calc(0.6vw + 0.6vh + 1vmin);
}

/*Styling cards*/



#player-cards .card:hover{
cursor:pointer;
}
#computer-cards{
  flex-direction: row;
  align-items: center;
  gap: 20px;
}


#player-cards .card:nth-child(2){
  background-color: red;
}
#player-cards .card:nth-child(3){
  background-color: blue;
}

#computer-cards .card{
  background-color: brown;
 
}
.pokemon{
  width:70%;
}
#player-cards .card:nth-child(3) .pokemon{
  width: 100%;
}

.card:active{
  animation: shake 0.6s;
}

